@import "../../css-config/mixins.scss";

.footer {

    width: 100%;
    margin: 0 auto;

    .footer-content{
        display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: column;
        // background-color: yellow;
    }

    .footer-block{
        width: 350px;
        height: 100%;
        // background-color: red;
    }

    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        // background-color: red;
        // margin: auto;
        gap: 4rem;

        @include sm{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 0;
            // background-color: red;
            // margin: auto;
            gap: 4rem;
        }

        .footer-top-one{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .text{
                color: rgb(174, 167, 167);
                    font-size: small;
                    gap: 0.25rem;
            }
        }

        .footer-top-two{
            display: flex;
            gap: 1rem;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            // margin: 0 auto;
            // background-color: blue;

            .footer-top-two-bottom{
                display: flex;
                flex-direction: column;
                list-style-type: none;
                    color: rgb(174, 167, 167);
                    font-size: large;
                    gap: 0.25rem;
                div{
                    display: flex;
                    // justify-content: center;
                    font-size: large;
                    align-items: center;
                    gap: 0.50rem;
                }
            }
        }

        .footer-top-three{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // align-items: center;
            div {
                font-size: larger;
            }
            ul{
                // display: flex;
            //     // flex-direction: row;
            //     font-size: 5px;
                gap: 0.25rem;
                li{
                    list-style-type: none;
                    color: rgb(174, 167, 167);
                    font-size: large;
                    gap: 0.25rem;
                }
            }
        }

        .footer-top-four{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // align-items: center;
            div {
                font-size: large;
            }
            ul{
                // display: flex;
            //     // flex-direction: row;
            //     font-size: 5px;
                gap: 0.25rem;
                li{
                    list-style-type: none;
                    color: rgb(174, 167, 167);
                    font-size: large;
                    gap: 0.25rem;
                }
            }
        }
    }

    .footer-bottom{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
         gap: 1rem;
        padding: 1.5rem 1rem;
        font-size: small;
    }

    @include sm {
        .footer-bottom{
            display: flex;
            // align-items: center;
            // justify-content: space-between;
            flex-direction: row;
            // gap: 1rem;
            font-size: 1rem;
            padding: 1.5rem 0;
        }
        // .footer-top-four{
        //     display: flex;
        //     flex-direction: column;
        //     gap: 1rem;
        //     // align-items: center;
        //     div {
        //         font-size: larger;
        //     }
        //     ul{
        //         display: flex;
        //         flex-direction: column;
        //         font-size: large;
        //         li{
        //             list-style-type: none;
        //             color: rgb(174, 167, 167);
        //             font-size: large;
        //             // margin: 0 0.50rem;
        //         }
        //     }
        // }


        // .footer-top-three{
        //     display: flex;
        //     flex-direction: column;
        //     gap: 1rem;
        //     // align-items: center;
        //     div {
        //         font-size: larger;
        //     }
        //     ul{
        //         display: flex;
        //         flex-direction: column;
        //         font-size: large;
        //         li{
        //             list-style-type: none;
        //             color: rgb(174, 167, 167);
        //             font-size: large;
        //             // gap: 0.25rem;
        //         }
        //     }
        // }


    }

}